@use "reset";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$Font: "Karla", sans-serif;
// PRIMARY
$Cyan: hsl(179, 62%, 43%);
$Cyan-light: hsla(179, 62%, 50%, 0.819);
$Bright-Yellow: hsl(71, 73%, 54%);
// NEUTRAL
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(216, 22%, 70%);

//LAYOUT

//! MOBILE

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  margin: 2rem auto;
  background-color: $Light-Gray;
}

.main {
  display: grid;
  grid-template-columns: 19.6875rem;
  grid-template-rows: 16.87rem repeat(2, 14.375rem);
  font-family: $Font;
  border-radius: 10px;
  overflow: hidden;
}

.article {
  //   border: 1px solid black;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__h2 {
    font-size: 1.25em;
    font-weight: 700;
    color: $Light-Gray;
  }
  &__p {
    font-size: 0.875em;
    color: $Light-Gray;
  }
  &__price {
    font-size: 1.7em;
    color: $Light-Gray;
    display: flex;
    font-weight: 700;

    &--span {
      font-size: 0.6em;
      align-self: center;
      margin-left: 0.625rem;
      font-weight: 400;
      color: $Grayish-Blue;
    }
  }
  &__button {
    width: 16.5625rem;
    height: 3.125rem;
    font-size: 1em;
    font-weight: 700;
    background-color: $Bright-Yellow;
    border: 1px solid $Bright-Yellow;
    border-radius: 0.4375rem;
    color: white;
  }
}
.community {
  background-color: white;
  &__h2 {
    color: $Cyan;
  }
  &__p {
    color: $Grayish-Blue;
  }
  &__span {
    font-weight: 700;
    color: $Bright-Yellow;
  }
}

.subscription {
  background-color: $Cyan;
  &__p {
    margin-bottom: 1rem;
    color: $Light-Gray;
  }
}

.why-us {
  background-color: $Cyan-light;
  &__p {
    margin-right: 3.4375rem;
    margin-top: 0.625rem;
  }
}

//! DESKTOP

@media screen and (min-width: 900px) {
  .main {
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: 13.75rem 16.25rem;
  }

  .article {
    padding: 2.5rem;
    &__button {
      width: 15rem;
    }
  }

  .community {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .subscription {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .why-us {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
